@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

/*html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}*/




a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }


/*MI CSS*/

:root {
    /*COLORES PRIMARIOS*/
    --fondo: #fff;
    --color-primario: #008f39; /*#003670;*/
    --color-secundario: #666666;
    --color-terciario: #77dd77; /*#68aedf;*/
    --color-cuaternario: #d9d7d7;
    --color-egresodinero: #FF7276;
}



.btn-custom,
.btn-custom:focus {
    background-color: var(--color-primario);
    color: #fff;
}

    .btn-custom:hover {
        color: var(--color-cuaternario);
    }

.btn-custom-secondary,
.btn-custom-secondary:focus {
    background-color: var(--color-secundario);
    color: #fff;
}

    .btn-custom-secondary:hover {
        color: var(--color-cuaternario);
    }

.form-control:focus,
.btn-custom:focus {
    border-color: var(--color-primario);
    box-shadow: 0px 1px 1px rgba(51, 107, 135, 0.06) inset, 0px 0px 8px rgba(51, 107, 135, 1);
}

#spinnerloading {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.8);
    z-index: 9999;
}

#spinnerloadingcontent {
    display: table;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#spinnerloadingspinner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    text-align: center;
    font-size: larger;
    padding-top: 80px;
}

/*LPMQLRMP BOOTSTRAP SELECT ESTILOS DE BOOTSTRAP SELECT DEBEN AGREGARSE A NIVEL GLOBAL POR LOS MALDITOS IDS QUE AGERGA BLAZOR*/
.bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
}
/*
.dropdown-menu .show {
    font-size: 12px;
}*/

.dropdown-item:active {
    background-color: var(--color-primario);
}
