.contenedor-imagen-izquierda[b-9frg9um0tx] {
    padding-right: 6px;
}

.contenedor-imagen-derecha[b-9frg9um0tx] {
    padding-left: 6px;
}

.img-horizonal[b-9frg9um0tx] {
    display: flex;
}

.img-vertical[b-9frg9um0tx] {
    display: none;
    max-height: 180px;
    width: 100%;
}


@media screen and (max-width: 767px) {
    .img-vertical[b-9frg9um0tx] {
        display: flex;
    }

    .img-horizonal[b-9frg9um0tx] {
        display: none;
    }

    .contenedor-imagen-izquierda[b-9frg9um0tx] {
        padding-right: 15px;
    }

    .contenedor-imagen-derecha[b-9frg9um0tx] {
        padding-left: 15px;
        padding-top: 12px;
    }
}

.imagen-seleccionable:hover[b-9frg9um0tx] {
    transform: scale(1.03);
    cursor: pointer;
}



