
.form-signin .form-control[b-z2zd9uut09] {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-control:focus[b-z2zd9uut09] {
    border-color: var(--color-primario);
    box-shadow: 0px 1px 1px rgba(51, 107, 135, 0.075) inset, 0px 0px 8px rgba(51, 107, 135, 0.5);
}


.inputWithIcon input[type=number][b-z2zd9uut09] {
    padding-left: 40px
}

.inputWithIcon input[type=text][b-z2zd9uut09] {
    padding-left: 40px
}

.inputWithIcon input[type=password][b-z2zd9uut09] {
    padding-left: 40px
}

.inputWithIcon input[b-z2zd9uut09] {
    padding-left: 40px
}

.inputWithIcon[b-z2zd9uut09] {
    position: relative;
}

    .inputWithIcon i[b-z2zd9uut09] {
        position: absolute;
        left: 5px;
        top: 5px;
        padding: 10px 8px;
        color: var(--color-primario);
        z-index: 2;
    }
