.wrapper[b-f3aorkfxhe] {
    display: flex;
    width: 100%;
    align-items: stretch;
    background-color: var(--fondo);
}

#content[b-f3aorkfxhe] {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
}

.mainpage[b-f3aorkfxhe] {
    margin-top: 100px;
}


/*SEGUN CHROME A PARTIR DE DICIEMBRE 2019 -WEBKIT-APPEARECEN:LISTBOX QUE TRAE BOOTSTRAP DEJA DE FUNCIONAR... POR ESO HAGO OVERRIDE Y LE PONGO NONE*/
input[type="date"][b-f3aorkfxhe], input[type="time"][b-f3aorkfxhe], input[type="datetime-local"][b-f3aorkfxhe], input[type="month"][b-f3aorkfxhe] {
    -webkit-appearance: none;
}
