/*SIMULACION PARA ELIMINAR TEXTO DEL INPUT DE BUSQUEDA*/
.form-group.position-relative input {
    padding-right: 32px;
}

.form-group-custom-align {
    padding-left: 0px;
    margin-bottom: 0px;
}

.form-clear {
    align-items: center;
    bottom: 8px;
    color: rgba(0, 0, 0, .54);
    cursor: pointer;
    display: flex;
    height: 24px;
    position: absolute;
    right: 12px;
    width: 24px;
    z-index: 10;
    bottom: calc(1rem - 8px);
}
