/*HEADER*/
#navbarDropdown[b-f8a1ysx82x] {
    color: #fff;
}

.dropdown-item:active[b-f8a1ysx82x] {
    background-color: var(--color-primario);
}

.icon-bar[b-f8a1ysx82x] {
    width: 22px;
    height: 2px;
    background-color: #fff;
    display: block;
    transition: all 0.2s;
    margin-top: 4px
}

.custom-logo[b-f8a1ysx82x] {
    align-items: center;
    margin: 0px;
    display: block;
}

.custom-logo-img[b-f8a1ysx82x] {
    width: 220px;
}


.navbar[b-f8a1ysx82x] {
    padding: 10px 10px;
    background: var(--color-primario);
    border: none;
    border-radius: 0;
    margin-bottom: 15px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}
